form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.message {
  width: 300px;
  height: 30px;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  display: table-cell;
  text-align: center;
}
.button {
  height: 38px;
  border-radius: 0px 10px 10px 0px;
  background-color: yellowgreen;
}
