form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.message {
  width: 300px;
  height: 50px;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-align: center;
  background-color: wheat;
  border: none;
  box-shadow: 5px 5px 15px 5px #000000;
}
.button {
  height: 54px;
  border-radius: 0px 10px 10px 0px;
  background-color: yellowgreen;
  border: none;
  box-shadow: 5px 5px 15px 5px #000000;
  z-index: 1;
}
